/*Styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  font: 13px/1.5 Helivtica, Sans-serif;
  color: #313131;
}
.Container {
  background-color: khaki;
  width: 90%;
  margin: 15px auto;
}
.row {
  width: 100%;
}
.Container::after,
.row::after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
[class*="grid-"] {
  float: left;
  padding: 0 15px;
}
.grid-1 {
  width: 8.3333333333333%;
}
.grid-2 {
  width: 16.666666666666;
}
.grid-3 {
  width: 25%;
}
.grid-4 {
  width: 33.333333333333%;
}
.grid-5 {
  width: 41.666666666666%;
}
.grid-6 {
  width: 50%;
}
.grid-7 {
  width: 58.333333333333%;
}
.grid-8 {
  width: 66.666666666666%;
}
.grid-9 {
  width: 75%;
}
.grid-10 {
  width: 83.333333333333%;
}
.grid-11 {
  width: 91.666666666666%;
}
.grid-12 {
  width: 100;
}
.gin {
  background-color: #ccc;
  min-height: 25px;
}
h1 {
  padding-left: 25px;
  float: left;
}
.portfo {
  padding-top: 10px;
  padding-left: 20px;
  background-color: black;
  font-family: "Lobster", cursive;
  text-shadow: 4px 4px 4px #aaa;
}

p {
  width: 58.59375%;
  height: 100%;
  font-size: 17px;
  font-weight: 500;
  padding-top: 40px;
  padding-left: 25px;
  background-color: white;
  text-shadow: 4px 4px 4px #aaa;
  color: black;
  float: left;
}
.sticker {
  background-image: url(img/sticker1.png);
  width: 39.74609375%;
  background-color: black;
  height: 614px;
  float: right;
  background-repeat: no-repeat;
}
.btn1 {
  padding-right: 0;
  padding-left: 80%;
}
.img-bt {
  width: 96px;
  height: 90px;
  background-attachment: scroll;
}
.img-bt:hover {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*mobile*/
@media (max-width: 767px) {
  h1 {
    padding-left: 35%;
    float: left;
  }
  p {
    width: 90%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    padding-top: 45px;
    padding-left: 25px;
    background-color: white;
    text-shadow: 1px 1px 2p blue;
    color: black;
    float: left;
  }
}
.sticker {
  background-image: url(img/sticker1.png);
  width: 0;
  background-color: black;
  height: 0;
  float: right;
  background-repeat: no-repeat;
}
.btn1 {
  padding-right: 0;
  padding-left: 45%;
  padding-bottom: 5px;
}
.img-bt {
  width: 62px;
  height: 60px;
  background-attachment: scroll;
}
.img-bt:hover {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*tablet*/
@media (min-width: 768px) {
  h1 {
    padding-left: 25px;
    float: left;
  }
  p {
    width: 58.59375%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
    padding-left: 25px;
    background-color: white;
    text-shadow: 1px 1px 2p blue;
    color: black;
    float: left;
  }
  .sticker {
    background-image: url(img/sticker1.png);
    width: 39.74609375%;
    background-color: white;
    height: 614px;
    float: right;
    background-repeat: no-repeat;
  }
}
/*smallscreen*/
@media (min-width: 992px) {
  h1 {
    padding-left: 25px;
    float: left;
  }
  p {
    width: 58.59375%;
    height: 100%;
    font-size: 15px;
    font-weight: 500;
    padding-top: 40px;
    padding-left: 25px;
    background-color: white;
    text-shadow: 1px 1px 2p blue;
    color: black;
    float: left;
  }
  .sticker {
    background-image: url(img/sticker1.png);
    width: 39.74609375%;
    background-color: white;
    height: 614px;
    float: right;
    background-repeat: no-repeat;
  }
}

/*desktop*/
@media (min-width: 1200px) {
  h1 {
    padding-left: 25px;
    float: left;
  }
  p {
    width: 58.59375%;
    height: 700px;
    font-size: 17px;
    font-weight: 500;
    padding-top: 40px;
    padding-left: 25px;
    background-color: white;
    text-shadow: 1px 1px 2p blue;
    color: black;
    float: left;
  }
  .sticker {
    background-image: url(img/sticker1.png);
    width: 39.74609375%;
    background-color: white;
    height: 614px;
    float: right;
    background-repeat: no-repeat;
  }
  .btn1 {
    padding-right: 0;
    padding-left: 50%;
    padding-bottom: 5px;
  }
  .img-bt {
    width: 96px;
    height: 90px;
    background-attachment: scroll;
  }
  .img-bt:hover {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
