/*Styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  font: 13px/1.5 Helivtica, Sans-serif;
  color: #313131;
}
.Container {
  background-color: khaki;
  width: 90%;
  margin: 15px auto;
}
.row {
  width: 100%;
}
.Container::after,
.row::after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
[class*="grid-"] {
  float: left;
  padding: 0 15px;
}
.grid-1 {
  width: 8.3333333333333%;
}
.grid-2 {
  width: 16.666666666666;
}
.grid-3 {
  width: 25%;
}
.grid-4 {
  width: 33.333333333333%;
}
.grid-5 {
  width: 41.666666666666%;
}
.grid-6 {
  width: 50%;
}
.grid-7 {
  width: 58.333333333333%;
}
.grid-8 {
  width: 66.666666666666%;
}
.grid-9 {
  width: 75%;
}
.grid-10 {
  width: 83.333333333333%;
}
.grid-11 {
  width: 91.666666666666%;
}
.grid-12 {
  width: 100;
}
.gin {
  background-color: #ccc;
  min-height: 25px;
}
header {
  background-color: black;
}
.brand,
h1 {
  font-family: "avenirNext" sans-serif;

  text-transform: uppercase;
  color: black;
  font-weight: 700;
}
.banner {
  background-size: 100%;
  background-repeat: no-repeat;
}
header {
  padding: 15px 0;
}
header::after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.name {
  font-family: "Lobster", cursive;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 50px;
  text-decoration-color: white;
  padding-top: 30px;
  padding-left: 20%;
  text-transform: capitalize;
  color: black;
}
.welcome {
  padding-left: 25%;
}
form {
  padding-left: 40%;
  padding-top: 40px;
}
.portfo {
  padding-top: 10px;
  padding-left: 20px;
}

p {
  width: 50%;
  height: 100%;
  font-size: 20px;
  padding-top: 80px;
  background-color: white;
  text-shadow: 1px 1px 2p blue;
  color: black;
  float: left;
}
.abt {
  font-family: "Lobster", cursive;
  text-transform: capitalize;
  font-weight: 700;
  color: black;
  float: right;
  padding-right: 50%;
}

/*mobile*/
@media (max-width: 767px) {
  /* .mobile-nav {
    display: block;
    width: 36px;
    height: 25px;
    padding-right: 15px;
    float: right;
  }
  .mobile-nav .mn-stripe {
    display: block;
    height: 2px;
    background-color: #fff;
    width: 100%;

    margin: 5px auto 0 auto;
  }
  header.nav {
    width: 100%;
    display: none;
    padding: 0;
    float: none;
    list-style: none;
  }
  header .nav li {
    float: none;
  }
  header .nav li:first-child {
    margin-top: 10px;
  }
  header .nav li a {
    padding: 5px 0;
  }
  .mn-balancer {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }*/

  /*tablet*/
  @media (min-width: 768px) {
    header {
      padding: 15px 0;
    }
    header::after {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }
    header .brand {
      width: 200px;
      float: left;
    }

    header .nav {
      padding: 0;
      margin: 0;
      list-style: none;
      width: auto;
      float: right;
    }
    header nav li {
      float: left;
      padding: 0px;
    }
    header nav li a {
      color: white;
      font-family: "Lobster", cursive;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      text-transform: capitalize;
      text-decoration: none;
    }
    .banner {
      background-image: url(img/tabs@2x.png);
      height: 360px;
      background-color: black;
    }
    .name {
      font-family: "Lobster", cursive;
      text-shadow: 4px 4px 4px #aaa;
      font-size: 50px;
      text-decoration-color: white;
      padding-top: 40px;
      padding-left: 25%;
      text-transform: capitalize;
      color: black;
    }
    .welcome {
      padding-left: 30%;
    }
    form {
      padding-left: 45%;
      padding-top: 30px;
    }
    button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: black;
      border: none;
      border-radius: 5px;
      box-shadow: 0 9px #999;
    }

    button:hover {
      background-color: black;
    }

    button:active {
      background-color: black;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

    .sticker {
      background-image: url(img/sticker1.png);
      background-color: white;
      width: 407px;
      height: 614px;
      padding-top: 25px;
      float: right;
    }

    .portfo {
      padding-top: 10px;
      padding-left: 20px;
      background-color: black;
    }

    p {
      width: 34.1796875%;
      height: 59.9609375%;
      font-size: 10px;
      padding-top: 25px;
      padding-left: 25px;
      background-color: white;
      text-shadow: 1px 1px 2p blue;
      color: black;
      float: left;
    }
    .abt {
      font-family: "Lobster", cursive;
      text-transform: capitalize;
      font-weight: 500;
      color: black;
      background-color: white;
      float: right;
      padding-right: 10%;
    }
  }
  /*smallscreen*/
  @media (min-width: 992px) {
    .banner {
      background-image: url(img/tabs@2x.png);
      height: 360px;
      background-color: black;
    }

    /*desktop*/
    @media (min-width: 1200px) {
      .banner {
        background-image: url(img/desk@2x.png);
        height: 360px;
      }
      .sticker {
        background-image: url(img/sticker1.png);
        background-color: white;
        width: 407px;
        height: 614px;
        padding-top: 25px;
        float: right;
      }

      .portfo {
        padding-top: 10px;
        padding-left: 20px;
        background-color: black;
      }

      p {
        width: 68.359375%;
        height: 59.9609375%;
        font-size: 18px;
        padding-top: 40px;
        padding-left: 25px;
        background-color: white;
        text-shadow: 1px 1px 2p blue;
        color: black;
        float: left;
      }
      .abt {
        font-family: "Lobster", cursive;
        text-transform: capitalize;
        padding-top: 10px;
        padding-left: 25px;
        font-weight: 700;
        color: black;
        background-color: white;
        float: left;
        padding-right: 30%;
      }
    }
  }
}
